.post-list-container {
    margin-top: 20px;
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

@media (min-width: 601px) {
    .post-list-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .post-list-container {
        grid-template-columns: repeat(3, 1fr);
    }
}